class Main{
    public static void main(String[]args){
        int a=15;
        int b=68;
        int c=3;
        double firstroot=0;
        double secondroot=0;
        double determinant=Math.pow(b,2)-(4*a*c);
        double sqrt=Math.sqrt(determinant);
        if(determinant>0){
            firstroot=(+b-sqrt)/(2*a);
            secondroot=(-b-sqrt)/(2*a);
            System.out.println("Roots are "+firstroot+" "+secondroot);
        }
        else if(determinant==0){
            firstroot=(+b-sqrt)/(2*a);
            System.out.println("root is "+firstroot);
        }
    }
}
